<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; PhAHao 2025</div>
            <div>
                <a href="https://www.facebook.com/phahao2553/" target="_blank">Facebook</a>
                &middot;
                <a href="https://github.com/PhanAnhHao" target="_blank">Github</a>
            </div>
        </div>
    </div>
</footer>